
.scrolla{
    padding: 1vw 2.8vw;
    transition: 0.4s all;
    text-decoration: none;
    color: rgb(12, 12, 12);
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

.Feature > h2 {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    border-bottom: 1px solid rgba(88, 88, 88, 0.527) ;
    width: 20vw;
    padding-bottom: 1vw;
    text-align: center;
    margin: auto;
    margin-top: 4vw;
}

.productCard{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(49, 49, 49);
    border: 1px solid;
    height: 25vw;
    width: 24vw;
    margin: auto;
    margin-top: 2vw;
    transition: 0.4s all;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Kumbh Sans', sans-serif;
}

.productCard > img{
    padding-top: 1.5vw;
    margin: auto;
}

.productCard > p  {
    padding-left: 2vw;
}
.productCard > span{
    padding: 2vw;
    color: tomato;
}
.productCard:hover{
    box-shadow: 2px 2px 7px ;
    transform: translateY(-1vw);
}

.productCard > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.4vw;

}

.product1{
    width: 20vw;
}